<div class="breadcrumb-container">
  <ol class="breadcrumb">
    <li><a href="{{ url('/') }}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
    {% for active in trail|reverse %}
      {% if loop.last %}
        <li class="active">
          {{ tree[active].title }}
        </li>
      {% else %}
        <li>
          {% if tree[active].linked %}
            <a href="{{ url(tree[active].path) }}">{{ tree[active].title }}</a>
          {% else %}
            {{ tree[active].title }}
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ol>
</div>
