<li class="{% if parent.parent != null %}dropdown-submenu{% else  %}dropdown{% endif %}">
    {% if parent.parent != null %}
        <a href="#">{{ parent.title }}</a>
    {% else %}
        <a href="#" data-submenu class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ parent.title }} <span class="caret"></span></a>
    {% endif %}
    <ul class="dropdown-menu">
        {% if parent.linked %}
            <li>
                <a href="{{ url(parent.path) }}">{{ parent.title }}</a>
            </li>
            <li class="divider"></li>
        {% endif %}
        {% for leaf in tree %}
            {% if leaf.parent == parent.path and leaf.path != '/' %}
                {# has children #}
                {% if leaf.children %}
                    {% include 'partials/nav-dropdown.html.twig' with { 'parent': leaf } only %}
                {% else %}
                    <li{% if leaf.path in trail %} class="active"{% endif %}>
                        {% if leaf.linked %}
                            <a href="{{ url(leaf.path) }}">{{ leaf.title }}</a>
                        {% else %}
                            <a href="#">{{ leaf.title }}</a>
                        {% endif %}
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
</li>
