body {
    padding-top: 70px;
}
@media (min-width: 992px) {
    #toc {
        position: fixed;
        width: inherit;
        padding-right: 2em;
    }
}
#toc ul {
    width: 100%;
    list-style: none;
    list-style-type: none;
    padding: 0;
}
#toc ul li {
    padding: .5em;
}
#toc .toc-h2 {
    padding-left: 1.5em;
}
#toc .toc-h3 {
    padding-left: 3em;
}
#toc .toc-active {
    background: #F8F8F8;
}
