{% extends 'layout/two-col-3-9.html.twig' %}

{% block title %}{{ current_route.title }}{% endblock %}

{% block before %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url('/') }}">{{ wiki_title }}</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% for leaf in tree %}
                        {% if leaf.parent == null and leaf.path != '/' %}
                            {# has children #}
                            {% if leaf.children %}
                                {% include 'partials/nav-dropdown.html.twig' with { 'parent': leaf } only %}
                            {% else %}
                                <li{% if leaf.path in trail %} class="active"{% endif %}>
                                    {% if leaf.linked %}
                                        <a href="{{ url(leaf.path) }}">{{ leaf.title }}</a>
                                    {% else %}
                                        <a href="#">{{ leaf.title }}</a>
                                    {% endif %}
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block aside %}
    <div id="toc"></div>
{% endblock %}

{% block main %}
    {% include 'partials/breadcrumbs.html.twig' with { 'trail': trail } only %}
    <div class="content">
        {% markdown %}
            {{ document }}
        {% endmarkdown %}
    </div>
{% endblock %}

{% block after %}
    <div class="container-fluid">
        <div class="well">WikiReader <small>v0.1</small></div>
    </div>
{% endblock %}
