<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Stylesheets -->
  <link rel="stylesheet" type="text/css" href="{{ url('/components/bootstrap/dist/css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url('/components/bootstrap-submenu/dist/css/bootstrap-submenu.min.css') }}">

  <!-- global css -->
  <link rel="stylesheet" href="{{ url('/css/global.css') }}" type="text/css">

  <title>{% block title %}{% endblock %} | {{ wiki_title }}</title>
</head>
<body>
  {% block body %}{% endblock %}

  <!-- Javascripts -->
  <script src="{{ url('/components/jquery/dist/jquery.min.js') }}"></script>
  <script src="{{ url('/components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
  <script src="{{ url('/components/bootstrap-submenu/dist/js/bootstrap-submenu.min.js') }}"></script>
  <script src="{{ url('/components/smooth-scroller/dist/smooth-scroller.bower.js') }}"></script>
  <script src="{{ url('/components/toc/dist/toc.bower.js') }}"></script>

  <!-- global js -->
  <script src="{{ url('/js/global.js') }}"></script>
</body>
</html>
